$primary-color: #5671A6;
$secondary-text-color: #616161;
$text-color: #383838;
$border-color: #6D8093;
$border-radius: 30px;
$gradient: linear-gradient(101.83deg, #5671A6 14.93%, #B2CAD8 58.66%);
$line-break: 1px solid #DBDBDB;
$swiper-desc-color: #747474;
$banner-background-color: linear-gradient(97.31deg, rgba(86, 113, 166, 0.3) 49.55%, rgba(179, 203, 217, 0.3) 100.33%);
$main-gradient: linear-gradient(180deg, #4A6BE1 0%, #E14A65 100%);